.thumbnail {
    position:relative;
    overflow:hidden;
    border: none;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(183, 15, 103, 0.7);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}

.img-fluid {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
  text-align: center;
}

section {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

a {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #B70F67;
}

a:hover {
  color: #91044E;
  text-decoration: none;
}

.row {
    padding-top: 230px;
    padding-bottom: 100px;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: 'Open Sans', sans-serif;
}

.social {
  padding-top: 50px;
  display: inline-block;
}

.fa-instagram {
  color: #B70F67;
  padding-right: 10px;
  padding-left: 10px;
}

.fa-linkedin {
  color: #B70F67;
  padding-right: 10px;
  padding-left: 10px;
}

.fa-facebook {
  color: #B70F67;
  padding-right: 10px;
  padding-left: 10px;
}

.fa-instagram:hover {
  color: #91044E;
}

.fa-linkedin:hover {
  color: #91044E;
}

.fa-facebook:hover {
  color: #91044E;
}

.column {
  float: left;
  width: 25%;
}

body {
    width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    color: #949494;
}

h2 {
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    z-index: 100;
}

h4 {
    font-size: 40px;
    font-weight: 900;
    color: #B70F67;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    z-index: 100;
    letter-spacing: 1px;
    padding-top: 30px;
}

h5 {
    font-size: 28px;
    font-weight: 900;
    color: #B70F67;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    z-index: 100;
    padding-top: 30px;
    letter-spacing: 0.5px;
}

h6 {
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    z-index: 100;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.header-image {
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url(../images/side_desk.jpg) no-repeat center center scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.headline {
    padding-top: 300px;
}

.headline h1 {
    font-size: 70px;
    font-weight: 900;
    color: #B70F67;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    z-index: 100;
    letter-spacing: 1px;
}

.headline h3 {
    font-size: 20px;
    color: white;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    z-index: 100;
    letter-spacing: 1px;
    padding-top: 5px;
}

.navbar-brand {
  margin-top: 0.1em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  margin-left: -2.5em;
  margin-top: 0.5em;
}

nav {
    background-color: rgba(0,0,0,0.7) !important;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-toggle {
  margin-top: 15px;
}

.featurette {
    overflow: hidden;
    background-color: black;
    min-height: 100vh;
    padding-top: 62px;
    margin-top: -62px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

#about {
    background-color: black;
    width: 100%;
}

#work {
    background-color: #1A1A1A;
    width: 100%;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

#ashley {
    margin: auto;
    padding: 10px;
    width: 18%;
    display: block;
    margin-top: 120px;
}

.featurette-heading {
    font-size: 30px;
}

.lead {
    font-size: 16px;
    line-height: 26px;
}

 #contact {
    width: 100%;
    text-align: center;
}

.contact-text {
    margin:45px auto;
}

.mail-message-area {
    width:100%;
    padding:0 15px;
}

.mail-message {
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
}

.not-visible-message {
    height: 0px;
    opacity: 0;
}

.visible-message {
    height: auto;
    opacity: 1;
    margin: 25px auto 0;
}
  
/* Generic Button Styles */

.button {
    color: white;
    padding:8px 12px;
    background:#B70F67;
    width:170px;
    margin:10px;
    border-radius:50px;
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:1em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: block;
    margin: auto;
}

.button:hover{
    background:#91044E;
    color: white;
}
footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 60px;
        position: relative;
        letter-spacing: 3px;
    }

    p {
        font-size: 18px;
        line-height: 32px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
    }

    #ashley {
        margin: auto;
        padding: 10px;
        width: 20%;
        display: block;
        margin-top: 80px;
    }

    .row {
        padding-top: 160px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 60px;
        position: relative;
        letter-spacing: 3px;
    }

    #ashley {
        margin: auto;
        padding: 10px;
        width: 25%;
        display: block;
        margin-top: 100px;
    }

    p {
        font-size: 18px;
        line-height: 32px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
    }

    .row {
        padding-top: 100px;
    }
}

@media(max-width:768px) {

    #ashley {
        margin: auto;
        padding: 10px;
        width: 40%;
        display: block;
        margin-top: 100px;
    }

    p {
        font-size: 18px;
        line-height: 32px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
    }

    .row {
        padding-top: 100px;
    }
}

@media(max-width:640px) {

    #ashley {
        margin: auto;
        padding: 10px;
        width: 50%;
        display: block;
        margin-top: 100px;
    }

    p {
        font-size: 14px;
        line-height: 26px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
    }

    .row {
        padding-top: 50px;
        padding-bottom: 100px;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width:375px) {

    .container {
        margin: 0 15px;
    }

    .headline h1 {
        font-size: 60px;
        position: relative;
    }

    #ashley {
        margin: auto;
        padding: 10px;
        width: 40%;
        display: block;
        margin-top: 50px;
    }

    p {
        font-size: 14px;
        line-height: 26px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
    }
}